<a href="https://colab.research.google.com/github/gracia10/data-engineering-study/blob/feature%2Fweek1-homwork/%5B%EA%B3%BC%EC%A0%9C3%5DMAU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

In [ ]:
%%sql
  SELECT TO_CHAR(DATE(TS), 'yyyy-mm') DT , COUNT(DISTINCT USC.USERID) ACTIVE_USER
    FROM RAW_DATA.USER_SESSION_CHANNEL USC
    JOIN RAW_DATA.SESSION_TIMESTAMP ST ON USC.SESSIONID = ST.SESSIONID
GROUP BY 1
ORDER BY 1
;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 281),
 ('2019-06', 459),
 ('2019-07', 623),
 ('2019-08', 662),
 ('2019-09', 639),
 ('2019-10', 763),
 ('2019-11', 721)]